# Pandas

## Task 1

You should import the necessary libraries. You will use `numpy` and `pandas` libraries.


> Don't forget to import `numpy`, and `pandas` in short form.

In [ ]:
import numpy as np
import pandas as pd

## Task 2

Create a `DataFrame` from the given dictionary `data`.

In [2]:
import numpy as np
import pandas as pd

data = {
    "Name": ["John", "Emily", "Ryan"],
    "Age": [16, 28, 22],
    "City": ["New York", "Los Angeles", "Chicago"],
}

df = pd.DataFrame(data)

## Task 3

In this task you should complete the following steps:

### Task 3.1
Display all data for `Age` column for the DataFrame you created in the previous task.

In [3]:
df["Age"]

0    16
1    28
2    22
Name: Age, dtype: int64

### Task 3.2

Add `Salary` column to the `DataFrame` with the values `[50000, 60000, 45000]`.

In [5]:
df["Salary"] = [50000, 60000, 45000]

### Task 3.3

Filter the `DataFrame` to show only the rows with the `Age` greater than 18.

In [6]:
df_filtered = df[df["Age"] > 18]

## Task 4

In this task you should complete the following steps:

### Task 4.1

Add new calculated field `Birth year`;

In [7]:
current_year = 2024
df["Birth year"] = current_year - df["Age"]

### Task 4.2

Add new calculated field `Average age`.

In [8]:
current_year = 2024
df["Birth year"] = current_year - df["Age"]

### Task 4.3

Calculate absolute difference between `Age` and `Average age`.

In [10]:
average_age = df["Age"].mean()
df["Average age"] = average_age

df["Age Difference"] = abs(df["Age"] - df["Average age"])

## Task 5

Complete the following tasks described below.

### Task 5.1

You have two dictionaries `data1` and `data2`. Create two `DataFrame` objects from these dictionaries. Then, `concatenate`, and `merge` these two `DataFrame` objects into one `DataFrame` object, and see the difference.

In [13]:
# Data
data1 = {'Name': ['John', 'Emily', 'Ryan'],
         'Age': [25, 28, 22]}
data2 = {'Name': ['Emily', 'Ryan', 'Mike'],
         'City': ['Los Angeles', 'Chicago', 'Houston']}

# create DataFrame objects
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [14]:
# merge
concat_df = pd.concat([df1, df2], axis=0, ignore_index=True)
print("Concatenated DataFrame:")
print(concat_df)

Concatenated DataFrame:
    Name   Age         City
0   John  25.0          NaN
1  Emily  28.0          NaN
2   Ryan  22.0          NaN
3  Emily   NaN  Los Angeles
4   Ryan   NaN      Chicago
5   Mike   NaN      Houston

In [15]:
# concatenate
merge_df = pd.merge(df1, df2, on='Name', how='inner')

### Task 5.2

You have two `Series` objects `s1` and `s2`. Make default mathematical operations on these two `Series` objects. Such as `+`, `-`, `*`, `/`, `**`, `//`, `%`. Also, filter `s1` and print only even numbers, and `s2` only with odd numbers.

In [16]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([6, 7, 8, 9, 10])

In [17]:
# use + operator here
print("Addition (s1 + s2):")
print(s1 + s2)

Addition (s1 + s2):
0     7
1     9
2    11
3    13
4    15
dtype: int64

In [18]:
# use - operator here
print("\nSubtraction (s1 - s2):")
print(s1 - s2)

Subtraction (s1 - s2):
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

In [19]:
# use * operator here
print("\nMultiplication (s1 * s2):")
print(s1 * s2)

Multiplication (s1 * s2):
0     6
1    14
2    24
3    36
4    50
dtype: int64

In [20]:
print("\nDivision (s1 / s2):")
print(s1 / s2)

Division (s1 / s2):
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [21]:
# use ** operator here
print("\nExponentiation (s1 ** s2):")
print(s1 ** s2)

Exponentiation (s1 ** s2):
0          1
1        128
2       6561
3     262144
4    9765625
dtype: int64

In [22]:
# use // operator here
print("\nFloor Division (s1 // s2):")
print(s1 // s2)

Floor Division (s1 // s2):
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [23]:
# use % operator here
print("\nModulus (s1 % s2):")
print(s1 % s2)

Modulus (s1 % s2):
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [24]:
# filter s1 here
even_s1 = s1[s1 % 2 == 0]
print("\nFiltered s1 (even numbers):")
print(even_s1)

Filtered s1 (even numbers):
1    2
3    4
dtype: int64

In [25]:
# filter s2 here
odd_s2 = s2[s2 % 2 != 0]
print("\nFiltered s2 (odd numbers):")
print(odd_s2)

Filtered s2 (odd numbers):
1    7
3    9
dtype: int64

### Task 5.3

You have a `Serias` object `s`. Make the following operations on this `Series` object:

* make all words in uppercase without loops;
* get length of each word without loops.

In [26]:
s = pd.Series(["numpy", "pandas", "matplotlib"])

In [27]:
uppercase_s = s.str.upper()
print("Uppercase words:")
print(uppercase_s)

Uppercase words:
0         NUMPY
1        PANDAS
2    MATPLOTLIB
dtype: object

In [28]:
word_lengths = s.str.len()
print("\nLength of each word:")
print(word_lengths)

Length of each word:
0     5
1     6
2    10
dtype: int64

## Task 6 Optional

You have a large dataset consisting of a series of numbers. Your task is to calculate the moving average of the series using a window of `5` elements. The moving average is the average of a set of consecutive values in the series, where the window `slides` through the series to compute the average at each position. The goal is to calculate the moving average efficiently and accurately. Also, compare time performance of Python and Pandas solutions.

> Please, note: If you get `nan` while calculating the moving average, you should remove it from the result. Pandas solution should take 1-2 lines of code.

### Python Solution

In the Python solution, a large dataset is generated using random numbers. The moving average is computed by iterating over the dataset using a loop. At each position, a window of 5 elements is created, and the average is calculated by summing the values in the window and dividing by 5.

In [30]:
import random

def unknown_signature():
    # Generate a large dataset
    data = [random.randint(1, 100) for _ in range(10000000)]

    # Calculate the moving average with a window of 5
    moving_averages = []
    for i in range(4, len(data)):
        window = data[i - 4 : i + 1]
        average = sum(window) / 5
        moving_averages.append(average)
    return moving_averages[:10]

%time unknown_signature()

CPU times: user 11.1 s, sys: 279 ms, total: 11.3 s
Wall time: 11.5 s

[40.6, 44.4, 52.4, 56.8, 71.2, 61.8, 62.0, 55.2, 41.4, 32.4]

### Solution using Pandas and Numpy

In [29]:
import pandas as pd
import random

def moving_average_pandas():
    data = [random.randint(1, 100) for _ in range(10000000)]
    series = pd.Series(data)
    moving_averages = series.rolling(window=5).mean().dropna()
    
    return moving_averages[:10]
print(moving_average_pandas())

4     38.6
5     50.2
6     55.4
7     50.4
8     60.0
9     67.2
10    61.2
11    63.8
12    69.6
13    70.6
dtype: float64